header {
    background:red;
    font-size: 20px;
    height: 20px;
    vertical-align: center;
    display: table;
    width: 100%;
     
}

#headLinks li {
    display: inline;
    margin: 50px;
    float: right;
    position: relative;
    bottom: 105px;
}

