header {
    background: transparent;    
    height: 20px;
    vertical-align: center;
    display: table;
    width: 98%;
    border:groove;
    margin-left: 10px;     
}
h1 {
    margin-left: 150px;
    font-family:'Sansita Swashed', cursive;
    font-size: 35px;
}
h2{
    font-family:'Sansita Swashed', cursive;
    margin-left: 200px;
}
h3 {
    text-align: center;
}

#headLinks li {
    display: inline;
    margin: 50px;
    float: right;
    position: relative;
    bottom: 105px;
}

#aditionalINFO {
    float: right;
    position: relative;
    left: 5px;
    bottom: 850px;
    border: groove;
    background-color: transparent;
    width: 300px;
}
#reference {
    float: right;
    position: relative;
    left: 310px;
    bottom: 290px;
    border: groove;
    background-color: transparent;
    width: 300px;
    height: 250px;
}
article{
    width: 800px;
}

#video {
    float: right;
    position: relative;
    bottom: 400px;
    background: transparent;
    border: groove;
    width: 300px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;    
  background-color: #f1f1c1;
  display: inline;
  margin-left: 12px;
  
}
th, td {
  text-align: justify;
  border: 1px solid black;
  border-collapse: separate;
  width: 135px;
  background-color: #f1f1c1;   
}
.img1 {
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
section {
    margin-top: 30px;
    background: rgb(78, 78, 106);
    color: white;
    border-radius: 10px;
    
}
body {
    background-image: url(Ocean\ Background.jpg);
}
footer {
    color: white;
}


