header {
    background:red;
    font-size: 30px;
    height: 50px;
    
     
}

#headLinks li {
    display: inline;
    margin: 50px;
    float: right;
    position: relative;
    bottom: 97px;
}

