.h1 { width: 65px;
    color: orange;
    font-family: sans-serif;
    }
    .ul_p { background-color: rgb(178, 197, 199);
    }
    p {
      font-weight: 600;
      font-size: 3em;
    }
    body {
      font-size: 16px;
    }
    li {
      font-style: italic;
      line-height: 20px;
      text-align: center;
      text-decoration: underline;
    }
    #amarelo { background-color: yellow;}
    #vermelho {background-color: red;}
    #marrom {background-color: brown;