.nomeCompleto {
  width: auto;
  min-width: 398px;
}

form .two .one {
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

#endereço {
  width: 38.7%;
  min-width: 220px;
}

.homeType {
  margin-left: 2.5%;
}

#cidade {
  margin-top: 1px;
  min-width: 244px;
}

.text {
  width: 100%;
}

.date {
  margin-top: 1px;
  margin-bottom: 1px;
  height: 15px;
}
