body {
  font-size: medium;
  margin: 3%;
}
h1 {
  font-size: larger;

}
h2 {
  font-size: large;

}

img {
    max-width: 100%;
}

figure {
    margin: 10px 0px;
}

@media screen and (min-width: 450px) {
  body {
    background-color: gray;

}