body {
  font-size: medium;
  margin: 3%;
}
h1 {
  font-size: larger;

}
h2 {
  font-size: large;

}

img {
    max-width: 100%;
}

figure {
    margin: 10px 0px;
}

@media screen and (min-width: 450px) {
  body {
    background-color: gray; }
  .figures-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .figures {
    display: flex;
    min-width: 50vh;
    max-width: 51vh;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 650px) {
  body {
    background-color: red;
  }
}

@media screen and (min-width: 850px) {
  body {
    background-color: green;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: teal;
  }
