/* global and cellphones layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 2% 5%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header p {
  text-align: center;
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

li {
  font-size: small;
}

p {
  font-size: small;
}

footer {
  font-size: x-small;
}
footer p {
  font-size: x-small;
}


.top-aside {
  display: flex;
  flex-direction: column-reverse;
}

/* tablet layout*/
@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }
  header p {
    font-size: large;
  }

  h1 {
    font-size: x-large;
  }
  
  h2 {
    font-size: large;
  }
  
  li {
    font-size: medium;
  }
  
  p {
    font-size: medium;
  }
  footer {
    font-size: small;
  }
  footer p {
    font-size: small;
  }
}

/* desktop layout */

@media screen and (min-width: 1024px) {
  header p {
    font-size: xx-large;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  li {
    font-size: large;
  }
  
  p {
    font-size: large;
  }  
}